In [195]:
import numpy as np
import pandas as pd

In [196]:
matches = pd.read_csv('matches.csv')
deliveries = pd.read_csv('deliveries.csv')

In [197]:
matches.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [198]:
matches.shape

(756, 18)

In [199]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [200]:
deliveries.shape

(179078, 21)

In [201]:
total_runs = deliveries.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [202]:
total_runs

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [203]:
total_runs = total_runs[total_runs['inning'] == 1]

In [204]:
total_runs

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [205]:
total_runs['target']= total_runs['total_runs']+1
total_runs.drop(['total_runs'],axis='columns',inplace = True)
total_runs

C:\Users\Pooja Khande\AppData\Local\Temp\ipykernel_22968\3051772940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_runs['target']= total_runs['total_runs']+1
C:\Users\Pooja Khande\AppData\Local\Temp\ipykernel_22968\3051772940.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_runs.drop(['total_runs'],axis='columns',inplace = True)

      match_id  inning  target
0            1       1     208
2            2       1     185
4            3       1     184
6            4       1     164
8            5       1     158
...        ...     ...     ...
1518     11347       1     144
1520     11412       1     137
1522     11413       1     172
1524     11414       1     156
1526     11415       1     153

[756 rows x 3 columns]

In [206]:
matches = matches.merge(total_runs[['match_id','target']],left_on='id',right_on='match_id')

In [207]:
matches.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,target
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,208
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,185
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,184
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,164
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,158

In [208]:
matches.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3', 'match_id', 'target'],
      dtype='object')

In [209]:
matches['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [210]:
teams = ['Sunrisers Hyderabad',
         'Royal Challengers Bangalore', 
         'Mumbai Indians',
         'Kolkata Knight Riders',
         'Kings XI Punjab',
         'Delhi Capitals',
         'Rajasthan Royals',
         'Chennai Super Kings']

In [211]:
matches['team1']=matches['team1'].str.replace('Delhi Daredevils','Delhi capitals')
matches['team2']=matches['team2'].str.replace('Delhi Daredevils','Delhi capitals')

matches['team1']=matches['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches['team2']=matches['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [212]:
matches = matches[matches['team1'].isin(teams)]
matches = matches[matches['team2'].isin(teams)]

In [213]:
matches.shape

(496, 20)

In [214]:
matches['team1'].unique()

array(['Sunrisers Hyderabad', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Kings XI Punjab', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals', 'Delhi Capitals'],
      dtype=object)

In [215]:
matches = matches[matches['dl_applied'] == 0]

In [216]:
matches = matches[['match_id','city','winner','target']]

In [217]:
deliveries =matches.merge(deliveries,on='match_id')

In [218]:
deliveries = deliveries[deliveries['inning'] == 2]

In [219]:
deliveries.head()

,match_id,city,winner,target,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,0,0,1,0,1,NaN,NaN,NaN
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,0,0,2,0,2,NaN,NaN,NaN
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,0,0,4,0,4,NaN,NaN,NaN

## 1.extracting current score from the deliveries dataset

In [220]:
deliveries['current_score'] = deliveries.groupby(['match_id','inning']).cumsum()['total_runs']

## 2.extracting runs left from the deliveries dataset

In [221]:
deliveries['runs_left'] = deliveries['target']-deliveries['current_score']

## 3.extrcting balls left from deliveries dataset

In [222]:
deliveries['balls_left']= 126-(deliveries['over']*6+deliveries['ball'])

In [223]:
deliveries.head()

,match_id,city,winner,target,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,NaN,NaN,NaN,1,207,119
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,207,118
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,207,117
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,NaN,NaN,NaN,3,205,116
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,NaN,NaN,NaN,7,201,115

## 4. extracting wickets left from deliveries dataset

In [224]:
deliveries['player_dismissed'] = deliveries['player_dismissed'].fillna("0")
deliveries['player_dismissed'] = deliveries['player_dismissed'].apply(lambda x:x if x == "0" else "1")
deliveries['player_dismissed'] = deliveries['player_dismissed'].astype('int')
wickets = deliveries.groupby('match_id').cumsum()['player_dismissed'].values
deliveries['wickets'] = 10 - wickets
deliveries.head()

,match_id,city,winner,target,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,NaN,NaN,1,207,119,10
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,207,118,10
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,207,117,10
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,NaN,NaN,3,205,116,10
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,NaN,NaN,7,201,115,10

## 5.extrcting current runret from deliveries dataset

In [225]:
## crr = run/over
deliveries['crr'] =(deliveries['current_score']*6)/(120 - deliveries['balls_left'])

## 6.extracting required runret from deliveries dataset

In [227]:
#rrr =runs_left/balls_left
deliveries['rrr'] = (deliveries['runs_left']*6)/deliveries['balls_left']

In [228]:
deliveries.head()

,match_id,city,winner,target,inning,batting_team,bowling_team,over,ball,batsman,...,total_runs,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr,rrr
125,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,NaN,NaN,1,207,119,10,6.0,10.436975
126,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,NaN,NaN,1,207,118,10,3.0,10.525424
127,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,NaN,NaN,1,207,117,10,2.0,10.615385
128,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,NaN,NaN,3,205,116,10,4.5,10.603448
129,1,Hyderabad,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,NaN,NaN,7,201,115,10,8.4,10.486957

In [229]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [230]:
deliveries['result'] = deliveries.apply(result,axis=1)

In [231]:
final_data = deliveries[['batting_team','bowling_team','city','runs_left','balls_left','wickets','target','crr','rrr','result']]

In [277]:
final_data.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,target,crr,rrr,result
90831,Kolkata Knight Riders,Sunrisers Hyderabad,Delhi,156,113,10,163,6.000000,8.283186,0
85610,Rajasthan Royals,Royal Challengers Bangalore,Pune,93,34,5,181,6.139535,16.411765,0
39094,Rajasthan Royals,Mumbai Indians,Jaipur,93,118,10,95,6.000000,4.728814,1
81839,Kings XI Punjab,Mumbai Indians,Chandigarh,89,52,8,173,7.411765,10.269231,0
47601,Kings XI Punjab,Mumbai Indians,Mumbai,38,19,7,164,7.485149,12.000000,1

In [233]:
final_data = final_data.sample(final_data.shape[0])

In [234]:
final_data.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,target,crr,rrr,result
90831,Kolkata Knight Riders,Sunrisers Hyderabad,Delhi,156,113,10,163,6.000000,8.283186,0
85610,Rajasthan Royals,Royal Challengers Bangalore,Pune,93,34,5,181,6.139535,16.411765,0
39094,Rajasthan Royals,Mumbai Indians,Jaipur,93,118,10,95,6.000000,4.728814,1
81839,Kings XI Punjab,Mumbai Indians,Chandigarh,89,52,8,173,7.411765,10.269231,0
47601,Kings XI Punjab,Mumbai Indians,Mumbai,38,19,7,164,7.485149,12.000000,1

In [235]:
final_data['batting_team']=final_data['batting_team'].str.replace('Delhi Daredevils','Delhi capitals')
final_data['bowling_team']=final_data['bowling_team'].str.replace('Delhi Daredevils','Delhi capitals')

final_data['batting_team']=final_data['batting_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
final_data['bowling_team']=final_data['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [236]:
final_data = final_data[final_data['batting_team'].isin(teams)]
final_data = final_data[final_data['bowling_team'].isin(teams)]

In [300]:
final_data.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets         0
target          0
crr             0
rrr             0
result          0
dtype: int64

In [299]:
final_data.dropna(inplace=True)

In [289]:
final_data['batting_team'].unique()

array(['Kolkata Knight Riders', 'Rajasthan Royals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Delhi Capitals'],
      dtype=object)

In [311]:
final_data=final_data[final_data['balls_left'] !=0]

In [312]:
x = final_data.iloc[:,:-1]
y = final_data.iloc[:,-1]

In [313]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [314]:
x_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets,target,crr,rrr
88177,Mumbai Indians,Kolkata Knight Riders,Mumbai,168,116,10,175,10.500000,8.689655
14559,Chennai Super Kings,Kings XI Punjab,Mumbai,37,53,9,113,6.805970,4.188679
1590,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata,129,86,10,173,7.764706,9.000000
75508,Chennai Super Kings,Mumbai Indians,Mumbai,2,9,7,174,9.297297,1.333333
91847,Sunrisers Hyderabad,Rajasthan Royals,Hyderabad,78,84,9,134,9.333333,5.571429
...,...,...,...,...,...,...,...,...,...
49058,Mumbai Indians,Sunrisers Hyderabad,Mumbai,30,38,7,101,5.195122,4.736842
106629,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,108,91,8,143,7.241379,7.120879
83028,Mumbai Indians,Chennai Super Kings,Chennai,74,55,8,159,7.846154,8.072727
90697,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata,26,3,2,172,7.487179,52.000000
40069,Sunrisers Hyderabad,Kolkata Knight Riders,Hyderabad,148,101,10,170,6.947368,8.792079

In [315]:
y_train

88177     1
14559     1
1590      0
75508     1
91847     1
         ..
49058     1
106629    0
83028     1
90697     0
40069     0
Name: result, Length: 44576, dtype: int64

In [316]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder = 'passthrough')

In [342]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [343]:
pipe = Pipeline(steps=[
     ('step1',trf),
     ('step2',LogisticRegression(solver='liblinear'))
])

In [344]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [345]:
y_pred = pipe.predict(x_test)

In [346]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7987438313144908

In [350]:
pipe.predict_proba(x_test)[100]

array([0.71457649, 0.28542351])

In [329]:
pipe = Pipeline(steps=[
     ('step1',trf),
     ('step2',RandomForestClassifier())
])

In [330]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', RandomForestClassifier())])

In [331]:
y_pred =pipe.predict(x_test)

In [332]:
accuracy_score(y_test,y_pred)

0.9993719156572454